<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.beacon-center.avida-ed-web</string>
        <key>CFBundleDisplayName</key>
        <string>Avida-ED Web</string>
	<key>CFBundleExecutable</key>
	<string>av_server</string>
	<key>CFBundleIconFile</key>
	<string>avida-ed-icon.png</string>
</dict>
</plist>
